[submodule "LibreHardwareMonitor"]
	path = ThirdParty/LibreHardwareMonitor
	url = https://github.com/LibreHardwareMonitor/LibreHardwareMonitor.git
[submodule "HidLibrary"]
	path = ThirdParty/HidLibrary
	url = https://github.com/OpenMacroBoard/HidLibrary.git
	branch = hid-for-streamdeck