<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
    </appSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target xsi:type="Console" name="console" layout="${time}: ${message}" detectConsoleAvailable="true" />
        <target xsi:type="File" name="file" 
                fileName="${basedir}\Logs\current.log" 
                archiveFileName="${basedir}\Logs\log.{#}.log"
                archiveNumbering="Date"
                archiveDateFormat="yyyy-MM-dd_HH.mm.ss"
                archiveOldFileOnStartup="true"
                maxArchiveFiles="8" />
      </targets>
      <rules>
        <logger name="*" minLevel="Debug" writeTo="console" enabled="true" />
        <logger name="*" minLevel="Info" writeTo="file" enabled="true" />
      </rules>
    </nlog>
</configuration>