<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <appSettings>
    </appSettings>
    <system.diagnostics>
      <sources>
        <source name="System.ServiceModel"
                switchValue="Warning"
                propagateActivity="true">
          <listeners>
            <add name="xml" />
          </listeners>
        </source>
        <source name="CardSpace">
          <listeners>
            <add name="xml" />
          </listeners>
        </source>
        <source name="System.IO.Log">
          <listeners>
            <add name="xml" />
          </listeners>
        </source>
        <source name="System.Runtime.Serialization">
          <listeners>
            <add name="xml" />
          </listeners>
        </source>
        <source name="System.SocketIdentityModel">
          <listeners>
            <add name="xml" />
          </listeners>
        </source>
      </sources>

      <sharedListeners>
        <add name="xml"
             type="System.Diagnostics.XmlWriterTraceListener"
             initializeData="debug.svclog" />
      </sharedListeners>
    </system.diagnostics>
</configuration>